[submodule "bitcore"]
	path = bitcore
	url = https://github.com/OPReturnCode/bitcore.git
[submodule "DefinitelyTyped"]
	path = DefinitelyTyped
	url = https://github.com/DefinitelyTyped/DefinitelyTyped.git
